<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>  | <a href="/sessions">Practice</a> | <a href="/sessions/new"> Add Practice Session</a>
    </nav>
   <main>
    <h1><%= title %></h1>
  