body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* .background {
  background-image: url('http://www.nick.com/spongebob-squarepants');
  background-position: center;
  background-size: cover;
  overflow: hidden;
} */