body {
  padding: 50px;
}

h1,
h2 {
  font-family: "Martian Mono", monospace;
  color: #7ea8a8;
}

a {
  color: #a77f95;
  font-family: "Martian Mono", monospace;
}

body > nav {
  grid-area: nav;
  background-color: #d9d6e8;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

.nav-bar {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  color: #9b9ab6;
}

nav > a:hover:not(.active) {
  color: #ffffff;
  background-color: #a77f95;
}

nav > a.active {
  color: #ffffff;
  cursor: default;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

/* show.ejs */
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  background-color: #7ea8a8;
}

th,
td {
  padding: 1.5em;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-family: "Martian Mono", monospace;
}

th {
  background-color: #7ea8a8;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
}

td {
  background-color: #f0f0f0;
  color: #7d7d7d;
}

tr:hover {
  background-color: #f9f9f9;
}

button {
  padding: 1em 1em;
  border: none;
  border-radius: 4px;
  background-color: #b5d3d3;
  color: #ffffff;
  cursor: pointer;
  font-family: "Martian Mono", monospace;
}

button:hover {
  background-color: #a77f95;
}

.edit-button {
  margin-top: 2em;
}

/* new.ejs - edit.ejs */
form {
  width: 100%;
  max-width: 500px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-family: "Martian Mono", monospace;
  color: #7d7d7d;
}

select,
input[type="text"],
input[type="number"],
input[type="date"],
input[type="submit"] {
  width: 100%; /* Set width to 100% */
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: "Martian Mono", monospace;
  color: #7d7d7d;
}

input[type="submit"] {
  background-color: #b5d3d3;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #a77f95;
}

/* show.ejs */
#show-page {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

#show-page div {
  margin-bottom: 10px;
  font-family: "Martian Mono", monospace;
  color: #7d7d7d;
}

#show-page b {
  font-weight: bold;
}

/* show.ejs notes card */

.card {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.card div {
  margin-bottom: 10px;
  font-family: "Martian Mono", monospace;
  color: #7d7d7d;
}

.card b {
  font-weight: bold;
}

.remove-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #ff6347;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Martian Mono", monospace;
}

.remove-button:hover {
  background-color: #ff473b;
}
